$white:#fff;
$off-white: #F7F7F7;
$black:#000;

$yellow:#ECF2B1;
$bright_yellow:#FDFFE7;

$tan: #848A73;
$dark_tan: #505443;
$light_tan: #BABA9D;
$bright_tan:#F1F7DC;

$teal:#2C6E6A;
$dark_teal:#1E4B49;
$light_teal: #418581;
$bright_teal:#00989D;

$brown:#6D250F;
$dark_brown:#422E21;
$light_brown:#9A4423;
$bright_brown:#D7440C;

$green:#6F8900;
$dark_green:#43570A;
$light_green:#78A100;
$bright_green:#A8D30D;
$off_green:#8DA780;
