@import 'colors',
'include-media';
.hero {
    position: relative;
    overflow: hidden;
    background: rgba(124, 147, 102, 1);
    background: -moz-linear-gradient(23deg, rgba(124, 147, 102, 1) 0%, rgba(68, 104, 74, 1) 65%, rgba(36, 66, 51, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(124, 147, 102, 1)), color-stop(65%, rgba(68, 104, 74, 1)), color-stop(100%, rgba(36, 66, 51, 1)));
    background: -webkit-linear-gradient(23deg, rgba(124, 147, 102, 1) 0%, rgba(68, 104, 74, 1) 65%, rgba(36, 66, 51, 1) 100%);
    background: -o-linear-gradient(23deg, rgba(124, 147, 102, 1) 0%, rgba(68, 104, 74, 1) 65%, rgba(36, 66, 51, 1) 100%);
    background: -ms-linear-gradient(23deg, rgba(124, 147, 102, 1) 0%, rgba(68, 104, 74, 1) 65%, rgba(36, 66, 51, 1) 100%);
    background: linear-gradient(23deg, rgba(124, 147, 102, 1) 0%, rgba(68, 104, 74, 1) 65%, rgba(36, 66, 51, 1) 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c9366', endColorstr='#244233', GradientType=1 );
    h1 {
        color: $yellow;
        letter-spacing: -0.25vw;
        //line-height: 0.9;
        &:after {
            display: none;
        }
        span {
            display: block;
        }
        strong {
            //font-size: 1.5em;
        }
        @include media('<480px') {
            //font-size: 2.375em;
            line-height: 1.2;
            strong {
                font-size: inherit;
            }
        }
    }
    h3 {
        color: $bright_tan;
        padding-top: 0.5rem;
        span {
            display: inline-block;
        }
    }
    > .container-fluid {
        position: relative;
        z-index: 2;
        padding-top: 150px;
    }
    .btn {
        margin-top:12px;
        [class*="icon-"] {
            transition: inherit;
            height: 13.5px;
            display: inline-block;
            margin-right: 6px;
            width: 19px;
            @include media('>sm') {
                height: 16.5px; 
                width:24px;
                margin-right:12px;
            }
        }
        em {
            font-style:normal;
        }
    }
    > svg {
        position: absolute;
        top: 50%;
        left: 0;
        height: auto;
        width: 100%;
        transform: translateY(-50%);
        opacity: 0;
        z-index: 1;
    }
}

@include media(">sm") {
    .is_tablet .hero {
        background-image: url(img/bg_hero_tablet.jpg);
    }
    body:not(.is_mobile) {
        .hero {
            background-color: $dark_green;
            background-image: url(img/bg_hero.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    .hero {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 150%;
        > .container-fluid {
            padding-top: calc(200px + 6em);
            > .row {
                //min-height: calc(100vh - 200px);
                padding-bottom: 6rem;
            }
        }
        h1 {
            letter-spacing: -3px;
            margin-bottom: 0.5rem;
            line-height: 1.1;
            &:after {
                margin: 2rem 0 1.4rem;
                display: block;
            }
            strong {
                font-size: 1em;
            }
        }
        h3 {
            padding-top: 0;
            font-size: 1.1em;
        }
        > svg {
            min-height: 100vh;
            height: 100%;
            opacity: 0.89;
        }
    }
}
