@import 'colors',
'include-media';
.icon-leaves {
    height: 40px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto 0;
    background-position: center;
    bottom:-18px;
    z-index: 10;
}

@include media('>sm') {
    .icon-leaves {
        height: 64px;
        bottom:-28px;
    }
}
