@import 'colors',
'include-media';
.services {
    max-width: 520px;
    h2 {
        color: $light-teal;
    }
    h4 {
        color: $light-teal;
    }
    .box {
        perspective: 40rem;
        position: relative;
    }
    @include media('>sm') {
        max-width: none;
        .box {
            margin-bottom: 40px;
        }
    }
    @include media('>md') {
        /*
        .box:hover .box-flip {
            transform: rotateY(180deg);
            transition: all 500ms ease 75ms;
        }
        */
    }
}

.box-flip {
    padding: 3rem 0 1rem;
    transition: all 500ms ease 75ms;
    transform-style: preserve-3d;
    @include media('>sm') {
        padding: 0 30px 20px 50px;
    }
}

.box-front {
    backface-visibility: hidden;
    h4 {
        display: inline-block;
    }
    i[class*="icon-s-"] {
        width: 30px;
        height: 30px;
        background-position: center;
        margin-right: 6px;
    }
    @include media('>sm') {
        i[class*="icon-s-"] {
            position: absolute;
            left: 0;
            top: 4px;
            background-size: contain;
        }
    }
}

.box-back {
    a {
        color: $bright-teal;
        display: inline-block;
        font-size: 16px;
        letter-spacing: 0px;
        @include media('<sm') {
            background: $white;
        }
        span:after {
            content: '\00bb';
        }
        i {
            display: none;
        }
    }
    @include media('>md') {
        transform: rotateY(180deg);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        overflow: hidden;
        a {
            z-index: 2;
            text-align: center;
            overflow: hidden;
            text-decoration: none;
            color: #fff;
            height: 100%;
            background-color: $dark-teal;
            background-size: cover;
            background-position: center bottom;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            width: 100%;
            margin: 0;
            font-size: 1.3rem;
            &:after {
                display: none;
            }
            span {
                position: relative;
                z-index: 2;
                &:after {
                    display: none;
                }
                i[class*="icon-"] {
                    width: 60px;
                    height: 60px;
                    display: block;
                    margin: 0.75rem auto 0;
                    background-size: contain;
                    display: block;
                }
            }
        }
    }
}

@include media('>sm') {
    .no-preserve3d {
        .box {
            .box-back {
                opacity: 0;
                transition: opacity 250ms ease;
                backface-visibility: visible;
            }
            &:hover .box-back {
                opacity: 1;
                transition: opacity 250ms ease;
            }
        }
    }
}
