.icon-arrow-right { background-image: url('png/arrow-right.png'); background-repeat: no-repeat; }

.icon-arrow-up { background-image: url('png/arrow-up.png'); background-repeat: no-repeat; }

.icon-email { background-image: url('png/email.png'); background-repeat: no-repeat; }

.icon-email_solid { background-image: url('png/email_solid.png'); background-repeat: no-repeat; }

.icon-leaves { background-image: url('png/leaves.png'); background-repeat: no-repeat; }

.icon-menu { background-image: url('png/menu.png'); background-repeat: no-repeat; }

.icon-pdf { background-image: url('png/pdf.png'); background-repeat: no-repeat; }

.icon-phone { background-image: url('png/phone.png'); background-repeat: no-repeat; }

.icon-plus { background-image: url('png/plus.png'); background-repeat: no-repeat; }

.icon-products_bg { background-image: url('png/products_bg.png'); background-repeat: no-repeat; }

.icon-s-binding { background-image: url('png/s-binding.png'); background-repeat: no-repeat; }

.icon-s-design { background-image: url('png/s-design.png'); background-repeat: no-repeat; }

.icon-s-mailing { background-image: url('png/s-mailing.png'); background-repeat: no-repeat; }

.icon-s-print { background-image: url('png/s-print.png'); background-repeat: no-repeat; }

.icon-s-shipping { background-image: url('png/s-shipping.png'); background-repeat: no-repeat; }

.icon-s-supplies { background-image: url('png/s-supplies.png'); background-repeat: no-repeat; }

.icon-u-ai { background-image: url('png/u-ai.png'); background-repeat: no-repeat; }

.icon-u-eps { background-image: url('png/u-eps.png'); background-repeat: no-repeat; }

.icon-u-jpg { background-image: url('png/u-jpg.png'); background-repeat: no-repeat; }

.icon-u-pdf { background-image: url('png/u-pdf.png'); background-repeat: no-repeat; }

.icon-u-png { background-image: url('png/u-png.png'); background-repeat: no-repeat; }

.icon-u-psd { background-image: url('png/u-psd.png'); background-repeat: no-repeat; }

.icon-u-rar { background-image: url('png/u-rar.png'); background-repeat: no-repeat; }

.icon-u-tif { background-image: url('png/u-tif.png'); background-repeat: no-repeat; }

.icon-u-zip { background-image: url('png/u-zip.png'); background-repeat: no-repeat; }

.icon-upload { background-image: url('png/upload.png'); background-repeat: no-repeat; }

